{% extends 'base.html.twig' %}

{% block title %}Hello PartenairesController!{% endblock %}

{% block body %}
    <div class='container'> 

        {% for partenaires in partenaires %}
           <h6>{{partenaires.sousCategories}}</h6>
           <p> {{partenaires.nom}}</p>
           <p> {{partenaires.url}}</p>
        {% endfor %}
    </div>
{% endblock %}
