{% extends 'base.html.twig' %}

{% block title %}Hello InformationsController!
{% endblock %}

{% block body %}
	<div class="container rounded-top ">
		<div class="row bg-image rounded mx-auto d-block " style="background-image:linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('https://www.airdebretagne.fr/files/_IMAGES_ZOOM_/file/Images/Bandeaux/photo%20accueil_0x0.jpg');height: 197px">>
			<h1 class="mid">Nous trouver</h1>
		</div>

		<p/>
		<p>AIR de Bretagne est organisée en trois sites, permettant d'intervenir rapidement sur les différents départements 
						        avec une équipe dédiée à chaque secteur :</p>
		<div class="text-center">
			<img rel="image/jpeg" alt="" src="https://www.airdebretagne.fr/files/_IMAGES_ZOOM_/file//carte-bretagne-AIR_0x0.png" class="img-fluid " width="700" height="200" >
		</div>

		<div class="container ">
			<div class="row justify-content-center">

				<div class="col-sm">
					<div>
						<h3>&nbsp;</h3>
						<h3><span><strong>RENNES</strong></span></h3>
						<h3><span><strong>AIR DE BRETAGNE - Siège social</strong></span></h3>
						<p>&nbsp;8, rue Jean Louis Bertrand<br>35000 RENNES<br>Tél&nbsp;: 02.23.46.44.20</p>
						<p><strong>&nbsp;</strong></p>
						<div style="clear:both"></div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10653.025097993483!2d-1.695534!3d48.124581!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ede20f3eb0973%3A0xefe18d097b65283!2s8%20Rue%20Jean-Louis%20Bertrand%2C%2035000%20Rennes%2C%20France!5e0!3m2!1sfr!2sus!4v1649747663254!5m2!1sfr!2sus" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
				</div>

				<div class="col-sm">
					<div>
						<h3>&nbsp;</h3>
						<h3><span><strong>VANNES</strong></span></h3>
						<h3><span><strong>AIR DE BRETAGNE - Antenne</strong></span></h3>
						<p>Zone de Kermelin<br>30, rue Marcel Dassault<br>56890 SAINT-AVÉ</p>
						<p><strong>&nbsp;</strong></p>
						<div style="clear:both"></div>
					</div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10745.458981506928!2d-2.733208!3d47.677336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48101e4474956fa5%3A0x78087aabddbf6209!2s30%20Rue%20Marcel%20Dassault%2C%2056890%20Saint-Av%C3%A9%2C%20France!5e0!3m2!1sfr!2sus!4v1649747917740!5m2!1sfr!2sus" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>

				<div class="col-sm">
					<div>
						<h3 style="text-align: left;">&nbsp;</h3>
						<h3 style="text-align: left;"><span><strong>SAINT-BRIEUC</strong></span></h3>
						<h3><span><strong>AIR DE BRETAGNE - Antenne</strong></span></h3>
						<p>ZA de Sainte Croix<br>9, rue Jean Perrin<br>22190 PLÉRIN</p>
						<p>&nbsp;</p>
						<div style="clear:both"></div>
					</div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10564.546813124764!2d-2.799471!3d48.549774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4811fd6601733701%3A0xe1b71a67dc9fc1d8!2s9%20Rue%20Jean%20Perrin%2C%2022190%20Pl%C3%A9rin%2C%20France!5e0!3m2!1sfr!2sus!4v1649747941260!5m2!1sfr!2sus" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

