{% extends 'base.html.twig' %}
{% block body %}
    <title>Actualités</title>

    <h1 class="text-center mb-5">Actualités</h1>
    
    <div class="container">
        {{ render(controller( 'App\\Controller\\Admin\\NewsCrudController::allNews', { 'max':  3 } )) }}
    </div>
{% endblock %}
