      .contact{
        height: 200px;
      }
      .HL_WIDTH_1x1 {
        width:100%;
      }
      .HL_WIDTH_1x2 {
        width:50%;
      }
      .HL_WIDTH_1x3 {
        width:33.33%;
      }
      .HL_WIDTH_1x4 {
        width:25%;
      }
      .HL_WIDTH_1x5 {
        width:20%;
      }
      .HL_WIDTH_1x6 {
        width:16.6666%;
      }
      .HL_WIDTH_1x7 {
        width:14.285%;
      }
      
      .HL_WIDTH_2x3 {
        width:66.66667%;
      }
      .HL_WIDTH_2x4 {
        width:50%;
      }
      .HL_WIDTH_2x5 {
        width:40%;
      }
      .HL_WIDTH_2x6 {
        width:33.333333%;
      }
      .HL_WIDTH_2x7 {
        width:28.57%;
      }
      
      .HL_WIDTH_3x4 {
        width:75%;
      }
      .HL_WIDTH_3x5 {
        width:60%;
      }
      .HL_WIDTH_3x6 {
        width:50%;
      }
      .HL_WIDTH_3x7 {
        width:42.85%;
      }
      .HL_WIDTH_5x12 {
        width:41.66%;
      }
      .HL_WIDTH_1x12 {
        width:8.33%;
      }
      .HL_WIDTH_7x12 {
        width:58.33%;
      }
      .HL_WIDTH_4x5 {
        width:80%;
      }
      .HL_WIDTH_4x6 {
        width:66.66%;
      }
      .HL_WIDTH_4x7 {
        width:57.14%;
      }
      
      .HL_WIDTH_5x6 {
        width:83.33%;
      }
      .HL_WIDTH_5x7 {
        width:71.42%;
      }
      
      .HL_WIDTH_6x7 {
        width:85.71%;
      }
      
      .HL_SWITCH_PRICETYPE { /*Par dÃ©faut, cache le switch de price */
        display:none;
      }
      
      h1 {
        font-size:27px;
        font-weight:bold;
        /*text-align:center;*/
      }
      h2 {
        font-size:20px;
      }
      #_HL_WEBSITE_TOOLBAR_PARAMS {
        list-style-type:none;
        margin:0;
        padding:0;
        height:32px;
        background-color:#f29a10;
        color:#FFF;
        font-size:24px;
        line-height:32px;
        text-align:center;
        width:32px;
        position:relative;
        display:inline-block;
        vertical-align:top;
        cursor:default;
      }
      #_HL_WEBSITE_TOOLBAR_PARAMS:hover ul {
        display:block;
      }
      #_HL_WEBSITE_TOOLBAR_PARAMS ul {
        background-color:#444444;
        position:absolute;
        border:1px solid #f29a10;
        list-style-type:none;
        margin:0;
        padding:0;
        text-align: left;
        white-space:nowrap;
        display:none;
      } 
      #_HL_WEBSITE_TOOLBAR_PARAMS ul li {
        font-size:14px;
        padding:5px 10px;
        line-height:24px;
      }
      #_HL_WEBSITE_TOOLBAR_PARAMS ul li:hover {
        background-color:#f29a10;
        color:#444;
        cursor:pointer;
      }
      #tinyMCEtoolbar {
          /*display: inline-block;*/
          vertical-align:top;
          margin:0 auto;
          padding-top:2px;
          /*width:980px;*/
      }
      .mce-btn .mce-txt {
          color: inherit;
          font-size: inherit;
          line-height: inherit;
      }
      .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
        color:#367FA9!important;
      }
      .mce-menu-item:hover .mce-text, .mce-menu-item.mce-selected .mce-text, .mce-menu-item:focus .mce-text {
        color:#FFF!important;
      }
      .mce-tinymce {
        border:0!important;
      }
      .mce-toolbar-grp .mce-flow-layout-item {
        margin-top:0;
      }
      .mce-panel {
        background-color: #EEE!important;
        margin: 0 auto!important;
      }
      .mce-flow-layout-item {
        margin:0!important;
      }
      .mce-toolbar-grp.mce-container.mce-panel.mce-first.mce-last.mce-abs-layout-item {
          background-color: #367FA9 !important;
      }
      /*
      .mce-container, .mce-container-body {
        background:none!important;
      }
      .mce-ico {
        color:#367FA9!important;
      }
      */
      #_HL_WEBSITE_TOOLBAR {
        position:fixed;
        top:0; 
        left:0;
        width:100%; 
        height:0px; 
        background-color: #367fa9!important;
        z-index:165536;
        transition:height 0.1s linear;
        overflow:hidden;
      }
      #_HL_WEBSITE_TOOLBAR.visible {
        height:34px;
      }
      
      
      
      .HL_SLIDESHOW {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position:relative;
      }
      .HL_SLIDESHOW li {
        position:absolute;
        left:0;
        top:0;
        padding:0;
      }
      /*
      .HL_SLIDESHOW li div {
        position:absolute;
        bottom:0;
      
        background-color:rgba(87,36,220,0.8);
        width:100%;
        height:24px;
        line-height:24px;
        color:#FFF;
        padding:10px;
        text-align:center;
      }*/
      .HL_SLIDESHOW .HL_SLIDESHOW_IMG {
        margin:0!important;
        padding:0!important;
        border:0!important;
        width:100%;
        height:auto;
        vertical-align: top;
      }
      
      
      /* LOADER */
      
      .loader {
        left: 50%;
          margin: -67px auto 0 -50px;
          position: absolute;
          top: 50%;
          width: 100px;
      }
      .loader:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      
      .circular {
        -webkit-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
        height: 100%;
        -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
                transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      
      .path {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
        -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
      }
      
      @-webkit-keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      
      @keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      @-webkit-keyframes dash {
        0% {
          stroke-dasharray: 1,200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -124px;
        }
      }
      @keyframes dash {
        0% {
          stroke-dasharray: 1,200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -124px;
        }
      }
      @-webkit-keyframes color {
        100%, 0% {
          stroke: #d62d20;
        }
        40% {
          stroke: #0057e7;
        }
        66% {
          stroke: #008744;
        }
        80%, 90% {
          stroke: #ffa700;
        }
      }
      @keyframes color {
        100%, 0% {
          stroke: #d62d20;
        }
        40% {
          stroke: #0057e7;
        }
        66% {
          stroke: #008744;
        }
        80%, 90% {
          stroke: #ffa700;
        }
      }
      /* END LOADER */
      
      body.editMode .HL_WIDGET_CODE {
        min-height:50px;
      }
      body.editMode .HL_VARS {
          background-color: #367fa9;
          border: 1px solid #eeeeee;
          border-radius: 5px;
          color: #ffffff;
          padding: 0 10px;
      }
      .HL_FORM_VALIDATE {
        display:none!important;
      }
      
      
     .oui{
       position: absolute;
       height: 50px;
       top: 50%;
       left :10%;
       z-index: auto;
     }
     .espace{
       margin-left:20px;
     }
     .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    #buttonLogin{
      margin-right: -1000px;
    }

    
  :root {
    --main-white-color: white;
    --main-black-color: black;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .static {
    position: static;
  }

  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    background-color: lightgray;
  }

  .owl-carousel .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }

  .owl-carousel .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }

  .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }

  .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
  }

  .owl-carousel .owl-dots,
  .owl-carousel .owl-nav {
    position: absolute;
  }

  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
  }

  .owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-black-color);
    transition: all 0.2s ease;
  }

  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-black-color);
  }

  .owl-carousel .owl-nav {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0;
  }

  .owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  .owl-carousel .owl-nav button:hover svg {
    opacity: 1;
  }

  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }

  section {
    display: none;
  }

  @media screen and (max-width: 575px) {
    .owl-carousel .owl-nav {
      top: 5%;
    }
    
    .owl-carousel .owl-nav svg {
      width: 24px;
      height: 24px;
    }
  }

  .block{
    position: relative;
  }
  
  .block::before{
    background-color: rgb(0, 0, 0);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

    