{% extends 'base.html.twig' %}
{% block body %}
	<title>Actualités</title>

	
	<main class="container">
		<img src="https://www.airdebretagne.fr/files/_IMAGES_ZOOM_/file/Images/Bandeaux//Notre%20statut%20associatif_0x0.jpg"/>
		{{ render(controller( 'App\\Controller\\Admin\\PresentationCrudController::presentationById',{ 'id':  6} )) }}
	</main>
	
{% endblock %}